.col {
  border: solid black;
  min-height: 500px;
  padding-top: 10px;
}
.container {
  margin-top: 50px;
  background-color: white;
}
body {
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
}
.totals {
  text-align: right;
  padding-right: 20px;
}
.totals p{
  margin-top: -10px;
}