#main {
  border: solid black;
  min-height: 500px;
  min-width: 480px;
  padding-top: 10px;
  margin-right: 2px;
}
.container {
  margin-top: 50px;
  margin-bottom: 2;
  background-color: white;
}
body {
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
}
.totals {
  text-align: right;
  padding-right: 20px;
}
.totals p{
  margin-top: -10px;
}
ul {
  list-style-type: none;
}
#order-list-price{
  padding-right: 20px;
  text-align: right;
}